CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_DISPLAY_TIMEZONE="CST-8"
# CONFIG_ENABLE_OTA_BUTTON is not set
CONFIG_PLACE_NAME="Pidu, Chengdu"
CONFIG_LATITUDE="30.80993"
CONFIG_LONGITUDE="103.88253"
CONFIG_WEATHER_TIMEZONE="Asia/Shanghai"
